{{#each this}}
  <div class='card'>
    <div class='wrapper'>

      <div class='description'>
        <h2 class='cardname'>{{name}} : {{nativeName}}</h2>
        <p class='text'>Capital: <span class='wrapper-text'>{{capital}}</span></p>
        <p class='text'>Region: <span class='wrapper-text'>{{region}}</span></p>
        <p class='text'>Subregion: <span class='wrapper-text'>{{subregion}}</span></p>
        <p class='text'>Population: <span class='wrapper-text'>{{population}}</span></p>
        <p class='text'><b>Languages:</b></p>

        <ul class='language'>
          {{#each languages}}
            <li class='item'>{{name}}</li>
          {{/each}}
        </ul>
      </div>
      <div class='wrapper-img'>
        <img src='{{flag}}' alt='{{name}}' width='500' height='300' /></div>
    </div>

  </div>
{{/each}}